body{
    background-image:url(images/nfl-league-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    
}

         
h1{
    text-align: center;
    color: red;
    font-size: 3rem;
    font-family: fantasy;
}
h2{
    text-align: center;
    margin-top: 3rem;
    color:red;
    font-family: fantasy;
    font-size: 35px;
}



ol{
    text-align: center;
    list-style-position: inside;
    font-size: 40px;
    font-family: fantasy;
  
}

#box{
    background-color: aliceblue;
    size: 240px;
    padding: 50px;
    border: 20px solid black;
    margin-left: 250px;
    margin-right: 250px;
    margin-top:50px
}

p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;


}

.navbar ul{
    list-style-type:none;
    background-color: blue;
    padding: 0;
    margin: 0;
    overflow: hidden;


}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: red
    ;
}

.navbar li{
    float: left;
}


img{
    height: 300px;
    width: 400px;
    border: solid black 10px;
}